.navbar {
  height: 65px;
}

.navbar-header, .navbar-brand {
  width: 100%;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-nav {
  display: none;
}

.navbar-buttons {
  float: right;
}

.navbar-content .navbar-title {
  font-size: 1.5em;
  margin-top: 0.25em;
  display: inline-block;
}

#spreadsheet table {
  height: 550px;
  margin-bottom: 3em;
}

#spreadsheet .dataTable tbody td {
  padding: 8px 18px;
}

.graph-row {
  clear: both;
}